name: Test NoMerge

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Reference the action from the nomerge repo
      - uses: axhxrx/nomerge@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
